Repository khaneliman/Austin-Horstman, changes with the labels that .github/labeler.yml gives for each.
All labels: WebApp, WebApi, test, Angular, repo, GitHub-Action

chore: update github contribution metrics
  WebApp/src/app/shared/data/github-metrics.ts
Labels: WebApp

chore: update github contribution metrics
  WebApp/src/app/shared/data/github-metrics.ts
Labels: WebApp

docs(plan): define portfolio improvements
  docs/codebase-improvement-plan.md
Labels: none

ci(webapp): run the complete quality gate
  WebApp/package.json
Labels: WebApp

ci(webapp): check workflow changes
  .github/workflows/angular-webapp.yml
Labels: GitHub-Action

fix(metrics): reject invalid contribution counts
  .github/scripts/github-metrics-fetch.fixture.mjs
  .github/scripts/update-github-metrics.mjs
  .github/scripts/update-github-metrics.test.mjs
Labels: none

fix(now): preserve displayed calendar dates
  WebApp/src/app/now/now.component.ts
Labels: WebApp

ci(metrics): gate generation regressions
  .github/workflows/github-metrics-regression.yml
Labels: GitHub-Action

fix(dates): format ISO calendar days
  WebApp/src/app/shared/utils/date.utils.test.ts
  WebApp/src/app/shared/utils/date.utils.ts
Labels: WebApp

fix(resume): preserve metrics snapshot date
  WebApp/src/app/personal/resume/resume.component.ts
Labels: WebApp

feat(contact): copy prepared message drafts
  WebApp/browser/production.pw.ts
  WebApp/src/app/personal/contact/contact.component.html
  WebApp/src/app/personal/contact/contact.component.ts
Labels: WebApp

feat(home): link the four visitor gateways
  WebApp/browser/production.pw.ts
  WebApp/src/app/home/home.component.html
  WebApp/src/app/home/home.component.ts
Labels: WebApp

feat(metadata): describe the Projects route
  WebApp/src/app/projects/projects.routes.ts
Labels: WebApp

feat(projects): use the catalogue on Projects
  WebApp/src/app/projects/projects.component.html
  WebApp/src/app/projects/projects.component.ts
  WebApp/src/app/projects/projects.routes.ts
Labels: WebApp

feat(projects): add a filterable project catalogue
  WebApp/src/app/projects/catalogue/catalogue.component.html
  WebApp/src/app/projects/catalogue/catalogue.component.ts
  WebApp/src/app/projects/catalogue/catalogue.test.ts
  WebApp/src/app/projects/catalogue/catalogue.ts
Labels: WebApp

test(webapp): add production browser smoke checks
  WebApp/browser/production.pw.ts
  WebApp/package.json
  WebApp/playwright.config.ts
  WebApp/scripts/production-smoke-server.mjs
Labels: WebApp

style(docs): normalize existing README formatting
  README.md
  WebApi/README.md
Labels: WebApi, repo

feat(projects): share the personal catalogue
  WebApp/src/app/projects/personal/personal.component.html
  WebApp/src/app/projects/personal/personal.component.ts
  WebApp/src/app/projects/personal/personal.routes.ts
Labels: WebApp

feat(metadata): describe personal projects
  WebApp/src/app/projects/personal/personal.routes.ts
Labels: WebApp

build(compose): make the sample API opt-in
  docker-compose.production.yml
  docker-compose.yml
Labels: repo

feat(projects): add Accident & Health work
  WebApp/src/app/projects/professional/case-study.test.ts
  WebApp/src/app/projects/professional/nri-na/nri-na.routes.ts
  WebApp/src/app/shared/data/companies.ts
  WebApp/src/app/shared/data/project-configurations.test.ts
  WebApp/src/app/shared/data/project-configurations.ts
  WebApp/src/app/shared/data/projects.ts
Labels: WebApp

ci(webapp): gate builds on browser smoke checks
  .github/workflows/angular-webapp.yml
Labels: GitHub-Action

feat(metadata): describe NRI-NA experience
  WebApp/src/app/experience/nri-na/nri-na.routes.ts
Labels: WebApp

feat(metadata): describe Core BTS experience
  WebApp/src/app/experience/corebts/corebts.routes.ts
Labels: WebApp

feat(projects): select cards by stable identity
  WebApp/src/app/shared/data/projects.test.ts
  WebApp/src/app/shared/data/projects.ts
Labels: WebApp

docs(webapi): document the optional demo lifecycle
  README.md
  WebApi/README.md
  docs/homelab-deployment.md
Labels: WebApi, repo

ci(webapi): run the real endpoint tests
  .github/workflows/dotnet-webapi.yml
Labels: GitHub-Action

feat(metadata): resolve portfolio page details
  WebApp/src/app/projects/professional/case-study.ts
  WebApp/src/app/shared/services/route-metadata.test.ts
  WebApp/src/app/shared/services/route-metadata.ts
Labels: WebApp

docs(projects): identify the API as a demo
  WebApp/src/app/shared/data/personal-projects.ts
Labels: WebApp

feat(metadata): update page details on navigation
  WebApp/src/app/app.config.ts
  WebApp/src/app/shared/services/portfolio-title.strategy.ts
Labels: WebApp

fix(overlays): contain keyboard focus in dialogs
  WebApp/src/app/app.component.ts
Labels: WebApp

feat(metadata): describe Skyline experience
  WebApp/src/app/experience/skyline/skyline.routes.ts
Labels: WebApp

feat(projects): share the professional catalogue
  WebApp/src/app/projects/professional/professional.component.html
  WebApp/src/app/projects/professional/professional.component.ts
  WebApp/src/app/projects/professional/professional.routes.ts
Labels: WebApp

build(nix): expose nginx for browser checks
  flake.nix
Labels: repo

feat(metadata): describe education routes
  WebApp/src/app/personal/resume/education/education.routes.ts
Labels: WebApp

docs(webapp): explain production browser checks
  WebApp/README.md
Labels: WebApp

test(metadata): check chronology and page resets
  WebApp/browser/production.pw.ts
Labels: WebApp

test(webapi): exercise the demo HTTP endpoints
  WebApi/tests/endpoints.test.mjs
Labels: WebApi

fix(projects): wrap desktop sibling navigation
  WebApp/src/app/shared/components/project-nav-header/project-nav-header.component.html
Labels: WebApp

feat(metadata): describe technology routes
  WebApp/src/app/personal/resume/technology/technology.routes.ts
Labels: WebApp

.github/labeler.yml:

# WebApp label for changes under WebApp folder
WebApp:
  - changed-files:
    - any-glob-to-any-file: 'WebApp/**/*'  # Matches any file change under WebApp

# WebApi label for changes under WebApi folder
WebApi:
  - changed-files:
    - any-glob-to-any-file: 'WebApi/**/*'  # Matches any file change under WebApi

# Test label for changes in .spec.js files under WebApp/khaneliman/apps/austin-horstman/src
test:
  - changed-files:
    - any-glob-to-any-file: 'WebApp/khaneliman/apps/austin-horstman/src/**/*.spec.js'  # Matches changes in specific .spec.js files

# Angular label for changes under WebApp/khaneliman/apps
Angular:
  - changed-files:
    - any-glob-to-any-file: 'WebApp/khaneliman/apps/**/*'  # Matches any file change under WebApp/khaneliman/apps

repo:
- changed-files:
  - any-glob-to-any-file: '*'

GitHub-Action:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/*'

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
 - head-branch: ['^feature', 'feature']

# Add 'release' label to any PR that is opened against the `main` branch
release:
 - base-branch: 'main'
