Repository khaneliman/Austin-Horstman, changes with the labels that .github/labeler.yml gives for each.
All labels: WebApp, WebApi, test, Angular, repo, GitHub-Action

label.yml: update
  .github/workflows/label.yml
Labels: GitHub-Action

dependabot.yml: updates
  .github/dependabot.yml
Labels: none

dependabot.yml: fix npm name
  .github/dependabot.yml
Labels: none

.gitaliases: remove
  gitaliases.md
Labels: repo

flake.nix: init
  WebApp/.envrc
  WebApp/.gitignore
  WebApp/flake.lock
  WebApp/flake.nix
Labels: WebApp

webapp/dockerfile: init
  WebApp/Dockerfile
  docker-compose.yml
Labels: WebApp, repo

flake.nix: init
  WebApp/.envrc
  WebApp/.gitignore
  WebApp/flake.lock
  WebApp/flake.nix
Labels: WebApp

webapp/dockerfile: init
  WebApp/Dockerfile
  docker-compose.yml
Labels: WebApp, repo

core: move shared components to core
  WebApp/src/app/core/components/card/card.component.html
  WebApp/src/app/core/components/card/card.component.scss
  WebApp/src/app/core/components/card/card.component.spec.ts
  WebApp/src/app/core/components/card/card.component.ts
  WebApp/src/app/core/components/floating-card/floating-card.component.html
  WebApp/src/app/core/components/floating-card/floating-card.component.scss
  WebApp/src/app/core/components/floating-card/floating-card.component.spec.ts
  WebApp/src/app/core/components/floating-card/floating-card.component.ts
  WebApp/src/app/core/components/footer/footer.component.ts
  WebApp/src/app/core/components/navbar/navbar.component.ts
  WebApp/src/app/core/components/separator/separator.component.html
  WebApp/src/app/core/components/separator/separator.component.scss
  WebApp/src/app/core/components/separator/separator.component.spec.ts
  WebApp/src/app/core/components/separator/separator.component.ts
  WebApp/src/app/core/components/social-links/social-link.ts
  WebApp/src/app/core/components/social-links/social-links.component.html
  WebApp/src/app/core/components/social-links/social-links.component.scss
  WebApp/src/app/core/components/social-links/social-links.component.spec.ts
  WebApp/src/app/core/components/social-links/social-links.component.ts
  WebApp/src/app/core/core.module.ts
  WebApp/src/app/personal/resume/resume.component.ts
  WebApp/src/app/personal/resume/resume.module.ts
Labels: WebApp

webapp: npm tasks added
  WebApp/package.json
Labels: WebApp

webapp/styles: fix style conflict
  WebApp/src/styles.scss
Labels: WebApp

docker-compose.override.yml: fix webapp
  WebApp/src/app/shared/card/card.component.html
  WebApp/src/app/shared/card/card.component.scss
  WebApp/src/app/shared/card/card.component.spec.ts
  WebApp/src/app/shared/card/card.component.ts
  WebApp/src/app/shared/floating-card/floating-card.component.html
  WebApp/src/app/shared/floating-card/floating-card.component.scss
  WebApp/src/app/shared/floating-card/floating-card.component.spec.ts
  WebApp/src/app/shared/floating-card/floating-card.component.ts
  WebApp/src/app/shared/separator/separator.component.html
  WebApp/src/app/shared/separator/separator.component.scss
  WebApp/src/app/shared/separator/separator.component.spec.ts
  WebApp/src/app/shared/separator/separator.component.ts
  WebApp/src/app/shared/social-links/social-link.ts
  WebApp/src/app/shared/social-links/social-links.component.html
  WebApp/src/app/shared/social-links/social-links.component.scss
  WebApp/src/app/shared/social-links/social-links.component.spec.ts
  WebApp/src/app/shared/social-links/social-links.component.ts
  docker-compose.override.yml
Labels: WebApp, repo

.github/workflows: dotnet webapp -> angular webapp
  .github/workflows/angular-webapp.yml
  .github/workflows/docker-webapp.yml
  .github/workflows/dotnet-webapp.yml
  WebApp/package.json
Labels: WebApp, GitHub-Action

webapp/navbar: fix ngb reference
  WebApp/src/app/core/components/navbar/navbar.component.ts
Labels: WebApp

.github/workflows: format
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependent-issues.yml
  .github/workflows/docker-webapi.yml
  .github/workflows/dotnet-webapi.yml
  .github/workflows/label.yml
  .github/workflows/linter.yml
Labels: GitHub-Action

webapp/styles: fix style conflict
  WebApp/src/styles.scss
Labels: WebApp

webapp: npm tasks added
  WebApp/package.json
Labels: WebApp

.github/workflows: dotnet webapp -> angular webapp
  .github/workflows/angular-webapp.yml
  .github/workflows/docker-webapp.yml
  .github/workflows/dotnet-webapp.yml
  WebApp/package.json
Labels: WebApp, GitHub-Action

docker-compose.override.yml: fix webapp
  WebApp/src/app/shared/card/card.component.html
  WebApp/src/app/shared/card/card.component.scss
  WebApp/src/app/shared/card/card.component.spec.ts
  WebApp/src/app/shared/card/card.component.ts
  WebApp/src/app/shared/floating-card/floating-card.component.html
  WebApp/src/app/shared/floating-card/floating-card.component.scss
  WebApp/src/app/shared/floating-card/floating-card.component.spec.ts
  WebApp/src/app/shared/floating-card/floating-card.component.ts
  WebApp/src/app/shared/separator/separator.component.html
  WebApp/src/app/shared/separator/separator.component.scss
  WebApp/src/app/shared/separator/separator.component.spec.ts
  WebApp/src/app/shared/separator/separator.component.ts
  WebApp/src/app/shared/social-links/social-link.ts
  WebApp/src/app/shared/social-links/social-links.component.html
  WebApp/src/app/shared/social-links/social-links.component.scss
  WebApp/src/app/shared/social-links/social-links.component.spec.ts
  WebApp/src/app/shared/social-links/social-links.component.ts
  docker-compose.override.yml
Labels: WebApp, repo

core: move shared components to core
  WebApp/src/app/core/components/card/card.component.html
  WebApp/src/app/core/components/card/card.component.scss
  WebApp/src/app/core/components/card/card.component.spec.ts
  WebApp/src/app/core/components/card/card.component.ts
  WebApp/src/app/core/components/floating-card/floating-card.component.html
  WebApp/src/app/core/components/floating-card/floating-card.component.scss
  WebApp/src/app/core/components/floating-card/floating-card.component.spec.ts
  WebApp/src/app/core/components/floating-card/floating-card.component.ts
  WebApp/src/app/core/components/footer/footer.component.ts
  WebApp/src/app/core/components/navbar/navbar.component.ts
  WebApp/src/app/core/components/separator/separator.component.html
  WebApp/src/app/core/components/separator/separator.component.scss
  WebApp/src/app/core/components/separator/separator.component.spec.ts
  WebApp/src/app/core/components/separator/separator.component.ts
  WebApp/src/app/core/components/social-links/social-link.ts
  WebApp/src/app/core/components/social-links/social-links.component.html
  WebApp/src/app/core/components/social-links/social-links.component.scss
  WebApp/src/app/core/components/social-links/social-links.component.spec.ts
  WebApp/src/app/core/components/social-links/social-links.component.ts
  WebApp/src/app/core/core.module.ts
  WebApp/src/app/personal/resume/resume.component.ts
  WebApp/src/app/personal/resume/resume.module.ts
Labels: WebApp

.github/workflows: format
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependent-issues.yml
  .github/workflows/docker-webapi.yml
  .github/workflows/dotnet-webapi.yml
  .github/workflows/label.yml
  .github/workflows/linter.yml
Labels: GitHub-Action

webapp/navbar: fix ngb reference
  WebApp/src/app/core/components/navbar/navbar.component.ts
Labels: WebApp

personal/resume: update technology
  WebApp/src/app/personal/resume/resume.component.html
Labels: WebApp

webapp/tsconfig.json: add paths
  WebApp/tsconfig.json
Labels: WebApp

webapp/package.json: add dev/prod
  WebApp/package.json
Labels: WebApp

treewide: migrate to angular 19
  WebApp/angular.json
  WebApp/package-lock.json
  WebApp/package.json
  WebApp/src/app/app.component.ts
  WebApp/src/app/core/components/card/card.component.ts
  WebApp/src/app/core/components/floating-card/floating-card.component.ts
  WebApp/src/app/core/components/footer/footer.component.spec.ts
  WebApp/src/app/core/components/footer/footer.component.ts
  WebApp/src/app/core/components/navbar/navbar.component.spec.ts
  WebApp/src/app/core/components/navbar/navbar.component.ts
  WebApp/src/app/core/components/social-links/social-links.component.ts
  WebApp/src/app/home/home.component.ts
  WebApp/src/app/personal/about/about.component.ts
  WebApp/src/app/personal/contact/contact.component.ts
  WebApp/src/app/personal/personal.component.ts
  WebApp/src/app/personal/resume/education/education.component.ts
  WebApp/src/app/personal/resume/education/foxvalley/foxvalley.component.ts
  WebApp/src/app/personal/resume/employment/bestbuy/bestbuy.component.ts
  WebApp/src/app/personal/resume/employment/corebts/corebts.component.ts
  WebApp/src/app/personal/resume/employment/employment.component.ts
  WebApp/src/app/personal/resume/employment/skyline/skyline.component.ts
  WebApp/src/app/personal/resume/employment/west/west.component.ts
  WebApp/src/app/personal/resume/projects/corebts/corebts.component.ts
  WebApp/src/app/personal/resume/projects/geeksquad/geeksquad.component.ts
  WebApp/src/app/personal/resume/projects/personal/personal.component.ts
  WebApp/src/app/personal/resume/projects/projects.component.ts
  WebApp/src/app/personal/resume/projects/skyline/skyline.component.ts
  WebApp/src/app/personal/resume/projects/west/west.component.ts
  WebApp/src/app/personal/resume/resume.component.ts
  WebApp/src/app/personal/resume/technology/technology.component.ts
Labels: WebApp

flake.lock: update
  WebApp/flake.lock
Labels: WebApp

flake.nix: nodejs_20 -> nodejs_22
  WebApp/flake.nix
Labels: WebApp

treewide: migrate to angular 20
  WebApp/angular.json
  WebApp/package-lock.json
  WebApp/package.json
  WebApp/tsconfig.json
Labels: WebApp

ci: bump node version
  .github/workflows/angular-webapp.yml
Labels: GitHub-Action

treewide: jasmine -> jest
  WebApp/flake.nix
  WebApp/jest.config.js
  WebApp/package-lock.json
  WebApp/package.json
  WebApp/setup-jest.ts
  WebApp/src/app/app.component.spec.ts
  WebApp/src/app/home/home.component.spec.ts
  WebApp/src/app/personal/about/about.component.spec.ts
  WebApp/src/app/personal/resume/education/foxvalley/foxvalley.component.spec.ts
  WebApp/src/app/personal/resume/projects/geeksquad/stat-tracker/stat-tracker.component.spec.ts
  WebApp/src/app/personal/resume/projects/skyline/mile-of-music/mile-of-music.component.spec.ts
  WebApp/src/app/personal/resume/projects/west/database-tool/database-tool.component.spec.ts
  WebApp/src/app/personal/resume/projects/west/it-portal/it-portal.component.spec.ts
  WebApp/src/app/personal/resume/projects/west/quick-launch/quick-launch.component.spec.ts
  WebApp/tsconfig.spec.json
Labels: WebApp

ci: fix ci clean
  WebApp/package.json
Labels: WebApp

ci: remove conflicting job names
  .github/workflows/angular-webapp.yml
  .github/workflows/docker-webapi.yml
  .github/workflows/docker-webapp.yml
  .github/workflows/dotnet-webapi.yml
  .github/workflows/linter.yml
Labels: GitHub-Action

fix: resolve Jest dependency conflicts with Angular 20
  WebApp/package-lock.json
  WebApp/package.json
Labels: WebApp

feat: add ESLint and Prettier for code quality
  WebApp/.prettierignore
  WebApp/.prettierrc
  WebApp/angular.json
  WebApp/eslint.config.js
  WebApp/package.json
Labels: WebApp

feat: add Husky pre-commit hooks
  .husky/pre-commit
  WebApp/.lintstagedrc.json
  WebApp/package.json
Labels: WebApp

ci: run tests on build
  .github/workflows/angular-webapp.yml
Labels: GitHub-Action

fix: repair SCSS media query syntax broken by Prettier
  WebApp/.prettierignore
  WebApp/src/assets/scss/bootstrap/mixins/_image.scss
Labels: WebApp

flake.nix: move to root
  .envrc
  flake.lock
  flake.nix
Labels: repo

flake.nix: flake-utils -> flake-parts
  flake.lock
  flake.nix
Labels: repo

.github/labeler.yml:

# WebApp label for changes under WebApp folder
WebApp:
  - changed-files:
    - any-glob-to-any-file: 'WebApp/**/*'  # Matches any file change under WebApp

# WebApi label for changes under WebApi folder
WebApi:
  - changed-files:
    - any-glob-to-any-file: 'WebApi/**/*'  # Matches any file change under WebApi

# Test label for changes in .spec.js files under WebApp/khaneliman/apps/austin-horstman/src
test:
  - changed-files:
    - any-glob-to-any-file: 'WebApp/khaneliman/apps/austin-horstman/src/**/*.spec.js'  # Matches changes in specific .spec.js files

# Angular label for changes under WebApp/khaneliman/apps
Angular:
  - changed-files:
    - any-glob-to-any-file: 'WebApp/khaneliman/apps/**/*'  # Matches any file change under WebApp/khaneliman/apps

repo:
- changed-files:
  - any-glob-to-any-file: '*'

GitHub-Action:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/*'

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
 - head-branch: ['^feature', 'feature']

# Add 'release' label to any PR that is opened against the `main` branch
release:
 - base-branch: 'main'
