Repository khaneliman/Austin-Horstman, changes with the labels that .github/labeler.yml gives for each.
All labels: WebApp, WebApi, test, Angular, repo, GitHub-Action

chore(webapp): delete placeholder templates and comment-only stylesheets
  WebApp/src/app/experience/nri-na/nri-na.component.scss
  WebApp/src/app/experience/nri-na/nri-na.component.ts
  WebApp/src/app/projects/personal/home-manager/home-manager.component.scss
  WebApp/src/app/projects/personal/home-manager/home-manager.component.ts
  WebApp/src/app/projects/personal/khanelinix/khanelinix.component.scss
  WebApp/src/app/projects/personal/khanelinix/khanelinix.component.ts
  WebApp/src/app/projects/personal/khanelivim/khanelivim.component.scss
  WebApp/src/app/projects/personal/khanelivim/khanelivim.component.ts
  WebApp/src/app/projects/personal/nixpkgs/nixpkgs.component.scss
  WebApp/src/app/projects/personal/nixpkgs/nixpkgs.component.ts
  WebApp/src/app/projects/personal/nixvim/nixvim.component.scss
  WebApp/src/app/projects/personal/nixvim/nixvim.component.ts
  WebApp/src/app/projects/personal/waybar/waybar.component.scss
  WebApp/src/app/projects/personal/waybar/waybar.component.ts
  WebApp/src/app/projects/professional/corebts/doitbest/doitbest.component.html
  WebApp/src/app/projects/professional/corebts/kroger/kroger.component.html
  WebApp/src/app/projects/professional/geeksquad/stat-tracker/stat-tracker.component.html
  WebApp/src/app/projects/professional/nri-na/ai-resource-staffing/ai-resource-staffing.component.html
  WebApp/src/app/projects/professional/nri-na/ai-resource-staffing/ai-resource-staffing.component.scss
  WebApp/src/app/projects/professional/nri-na/ai-resource-staffing/ai-resource-staffing.component.ts
  WebApp/src/app/projects/professional/nri-na/doitbest/doitbest.component.html
  WebApp/src/app/projects/professional/nri-na/doitbest/doitbest.component.scss
  WebApp/src/app/projects/professional/nri-na/doitbest/doitbest.component.ts
  WebApp/src/app/projects/professional/nri-na/mulesoft-migrator/mulesoft-migrator.component.html
  WebApp/src/app/projects/professional/nri-na/mulesoft-migrator/mulesoft-migrator.component.scss
  WebApp/src/app/projects/professional/nri-na/mulesoft-migrator/mulesoft-migrator.component.ts
  WebApp/src/app/projects/professional/nri-na/nri-na.component.scss
  WebApp/src/app/projects/professional/nri-na/nri-na.component.ts
  WebApp/src/app/projects/professional/nri-na/tax-document-analysis/tax-document-analysis.component.html
  WebApp/src/app/projects/professional/nri-na/tax-document-analysis/tax-document-analysis.component.scss
  WebApp/src/app/projects/professional/nri-na/tax-document-analysis/tax-document-analysis.component.ts
  WebApp/src/app/projects/professional/professional.component.scss
  WebApp/src/app/projects/professional/professional.component.ts
  WebApp/src/app/projects/projects.component.scss
  WebApp/src/app/projects/projects.component.ts
  WebApp/src/app/shared/components/company-profile/company-profile.component.scss
  WebApp/src/app/shared/components/company-profile/company-profile.component.ts
  WebApp/src/app/shared/components/enhanced-feature-card/enhanced-feature-card.component.scss
  WebApp/src/app/shared/components/professional-projects-grid/professional-projects-grid.component.scss
  WebApp/src/app/shared/components/professional-projects-grid/professional-projects-grid.component.ts
Labels: WebApp

chore(webapp): delete unused Argon template assets
  WebApp/.prettierignore
  WebApp/src/assets/img/icons/common/github.svg
  WebApp/src/assets/img/icons/common/google.svg
  WebApp/src/assets/img/ill/ill-2.svg
  WebApp/src/assets/img/ill/ill.png
  WebApp/src/assets/img/theme/img-1-1200x1000.jpg
  WebApp/src/assets/img/theme/img-2-1200x1000.jpg
  WebApp/src/assets/scss/utilities/_gradients.scss
Labels: WebApp

feat(home): show the real portrait in the hero
  WebApp/src/app/home/home.component.html
Labels: WebApp

build(webapp): use the @angular/build application builder
  WebApp/angular.json
  WebApp/bun.lock
  WebApp/package.json
Labels: WebApp

fix(theme): keep following the system theme until the visitor picks one
  WebApp/src/app/shared/services/theme-mode.test.ts
  WebApp/src/app/shared/services/theme-mode.ts
  WebApp/src/app/shared/services/theme.service.ts
Labels: WebApp

chore(webapp): point biome.json at the installed schema version
  WebApp/biome.json
Labels: WebApp

fix(experience): point "View project catalog" at the catalog
  WebApp/src/app/shared/components/company-profile/company-profile.component.html
Labels: WebApp

refactor(webapp): replace NgClass with native class bindings
  WebApp/src/app/core/components/floating-card/floating-card.component.html
  WebApp/src/app/core/components/floating-card/floating-card.component.ts
  WebApp/src/app/home/home.component.html
  WebApp/src/app/home/home.component.ts
  WebApp/src/app/personal/about/about.component.html
  WebApp/src/app/personal/about/about.component.ts
  WebApp/src/app/personal/contact/contact.component.html
  WebApp/src/app/personal/contact/contact.component.ts
  WebApp/src/app/personal/resume/resume.component.html
  WebApp/src/app/personal/resume/resume.component.ts
  WebApp/src/app/projects/personal/personal.component.html
  WebApp/src/app/projects/personal/personal.component.ts
  WebApp/src/app/projects/projects.component.html
  WebApp/src/app/projects/projects.component.ts
  WebApp/src/app/shared/components/personal-projects-grid/personal-projects-grid.component.html
  WebApp/src/app/shared/components/personal-projects-grid/personal-projects-grid.component.ts
  WebApp/src/app/shared/components/professional-projects-grid/professional-projects-grid.component.html
  WebApp/src/app/shared/components/professional-projects-grid/professional-projects-grid.component.ts
Labels: WebApp

refactor(wave-separator): bind the fill style directly
  WebApp/src/app/shared/components/wave-separator/wave-separator.component.ts
Labels: WebApp

perf(webapp): load the keyboard overlays when the browser is idle
  WebApp/src/app/app.component.html
Labels: WebApp

fix(a11y): keep arrow-key grid focus when single-key shortcuts are off
  WebApp/src/app/shared/services/keyboard-shortcuts.service.ts
Labels: WebApp

fix(a11y): keep stat terms directly inside their definition groups
  WebApp/src/app/projects/personal/shared/personal-case-study-shell.component.ts
  WebApp/src/app/shared/components/project-detail-template/project-detail-template.component.html
Labels: WebApp

docs: correct stale facts in the READMEs
  README.md
  WebApi/README.md
Labels: WebApi, repo

fix(a11y): label the navigation landmarks
  WebApp/src/app/core/components/footer/footer.component.html
  WebApp/src/app/core/components/navbar/navbar.component.html
  WebApp/src/app/projects/personal/shared/personal-case-study-shell.component.ts
Labels: WebApp

fix(a11y): expose the command palette as a combobox
  WebApp/src/app/core/components/command-palette/command-palette.component.html
Labels: WebApp

chore: remove the obsolete Jenkinsfile
  Jenkinsfile
Labels: repo

fix(home): count experience years from local August 1
  WebApp/src/app/home/home.component.ts
Labels: WebApp

fix(navbar): let Escape close an open theme picker first
  WebApp/src/app/core/components/navbar/navbar.component.ts
Labels: WebApp

fix(resume): render the company accent colors on previous positions
  WebApp/src/app/personal/resume/resume.component.html
  WebApp/src/app/personal/resume/resume.component.ts
Labels: WebApp

docs(webapp): replace the generated Angular CLI README
  WebApp/README.md
Labels: WebApp

style(a11y): derive case study accent text from the palette color
  WebApp/src/app/projects/personal/shared/personal-case-study-shell.component.ts
  WebApp/src/app/shared/components/project-detail-template/project-detail-template.component.scss
Labels: WebApp

style(a11y): raise small-text contrast to WCAG AA in the default theme
  WebApp/src/app/core/components/card/card.component.html
  WebApp/src/app/core/components/command-palette/command-palette.component.html
  WebApp/src/app/core/components/floating-card/floating-card.component.html
  WebApp/src/app/core/components/navbar/navbar.component.html
  WebApp/src/app/core/components/shortcuts-help/shortcuts-help.component.html
  WebApp/src/app/home/home.component.html
  WebApp/src/app/now/now.component.html
  WebApp/src/app/now/now.component.scss
  WebApp/src/app/personal/resume/resume.component.html
  WebApp/src/app/personal/resume/resume.component.ts
  WebApp/src/app/personal/resume/technology/technology.component.html
  WebApp/src/app/projects/personal/shared/personal-case-study-shell.component.ts
  WebApp/src/app/projects/projects.component.html
  WebApp/src/app/shared/components/career-timeline/career-timeline.component.html
  WebApp/src/app/shared/components/company-profile/company-profile.component.html
  WebApp/src/app/shared/components/personal-projects-grid/personal-projects-grid.component.html
  WebApp/src/app/shared/components/professional-projects-grid/professional-projects-grid.component.html
  WebApp/src/app/shared/components/project-detail-template/project-detail-template.component.html
Labels: WebApp

refactor(webapp): declare host listeners in component metadata
  WebApp/src/app/core/components/shortcuts-help/shortcuts-help.component.ts
  WebApp/src/app/shared/directives/grid-keyboard-nav.directive.ts
Labels: WebApp

fix(navbar): reach the shortcuts sheet from the mobile menu
  WebApp/src/app/core/components/navbar/navbar.component.html
Labels: WebApp

fix(a11y): stop nesting main landmarks inside the app shell
  WebApp/src/app/home/home.component.html
  WebApp/src/app/now/now.component.html
  WebApp/src/app/personal/about/about.component.html
  WebApp/src/app/personal/contact/contact.component.html
  WebApp/src/app/projects/personal/personal.component.html
  WebApp/src/app/projects/personal/shared/personal-case-study-shell.component.ts
  WebApp/src/app/projects/professional/professional.component.html
  WebApp/src/app/projects/projects.component.html
  WebApp/src/app/shared/components/project-detail-template/project-detail-template.component.html
Labels: WebApp

fix(education): support dark mode on the education page
  WebApp/src/app/personal/resume/education/education.component.html
  WebApp/src/app/personal/resume/education/foxvalley/foxvalley.component.html
Labels: WebApp

refactor(projects): render case studies from route data
  WebApp/src/app/projects/professional/case-study.test.ts
  WebApp/src/app/projects/professional/case-study.ts
  WebApp/src/app/projects/professional/corebts/corebts.routes.ts
  WebApp/src/app/projects/professional/corebts/doitbest/doitbest.component.ts
  WebApp/src/app/projects/professional/corebts/kroger/kroger.component.ts
  WebApp/src/app/projects/professional/geeksquad/geeksquad.routes.ts
  WebApp/src/app/projects/professional/geeksquad/stat-tracker/stat-tracker.component.ts
  WebApp/src/app/projects/professional/nri-na/ai-resource-staffing/ai-resource-staffing.component.ts
  WebApp/src/app/projects/professional/nri-na/doitbest/doitbest.component.ts
  WebApp/src/app/projects/professional/nri-na/farmlink-modernization/farmlink-modernization.component.ts
  WebApp/src/app/projects/professional/nri-na/mulesoft-migrator/mulesoft-migrator.component.ts
  WebApp/src/app/projects/professional/nri-na/nri-na.routes.test.ts
  WebApp/src/app/projects/professional/nri-na/nri-na.routes.ts
  WebApp/src/app/projects/professional/nri-na/tax-document-analysis/tax-document-analysis.component.ts
  WebApp/src/app/projects/professional/nri-na/underwriting-workbench/underwriting-workbench.component.ts
  WebApp/src/app/projects/professional/project-case-study.component.ts
  WebApp/src/app/projects/professional/skyline/cleartrend/cleartrend.component.ts
  WebApp/src/app/projects/professional/skyline/express-scripts/express-scripts.component.ts
  WebApp/src/app/projects/professional/skyline/jj-keller/jj-keller.component.ts
  WebApp/src/app/projects/professional/skyline/mile-of-music/mile-of-music.component.ts
  WebApp/src/app/projects/professional/skyline/network-health/network-health.component.ts
  WebApp/src/app/projects/professional/skyline/renaissance-learning/renaissance-learning.component.ts
  WebApp/src/app/projects/professional/skyline/skyline.routes.ts
  WebApp/src/app/projects/professional/west/database-tool/database-tool.component.ts
  WebApp/src/app/projects/professional/west/it-portal/it-portal.component.ts
  WebApp/src/app/projects/professional/west/quick-launch/quick-launch.component.ts
  WebApp/src/app/projects/professional/west/west.routes.ts
Labels: WebApp

fix(a11y): correct skipped heading levels
  WebApp/src/app/core/components/card/card.component.html
  WebApp/src/app/core/components/floating-card/floating-card.component.html
  WebApp/src/app/personal/contact/contact.component.html
  WebApp/src/app/personal/resume/education/foxvalley/foxvalley.component.html
  WebApp/src/app/personal/resume/technology/technology.component.html
Labels: WebApp

refactor(webapp): paint dark surfaces with the night token
  WebApp/src/app/core/components/command-palette/command-palette.component.html
  WebApp/src/app/core/components/shortcuts-help/shortcuts-help.component.html
  WebApp/src/app/core/components/terminal-easter-egg/terminal-easter-egg.component.html
  WebApp/src/app/home/home.component.html
  WebApp/src/app/personal/about/about.component.html
  WebApp/src/app/personal/contact/contact.component.html
  WebApp/src/app/personal/resume/resume.component.html
  WebApp/src/app/projects/personal/home-manager/home-manager.component.html
  WebApp/src/app/projects/personal/khanelinix/khanelinix.component.html
  WebApp/src/app/projects/personal/khanelivim/khanelivim.component.html
  WebApp/src/app/projects/personal/nixpkgs/nixpkgs.component.html
  WebApp/src/app/projects/personal/nixvim/nixvim.component.html
  WebApp/src/app/projects/personal/personal.component.html
  WebApp/src/app/projects/personal/personal.component.ts
  WebApp/src/app/projects/personal/shared/personal-case-study-shell.component.ts
  WebApp/src/app/projects/personal/waybar/waybar.component.html
  WebApp/src/app/projects/professional/professional.component.html
  WebApp/src/app/projects/projects.component.html
  WebApp/src/app/shared/components/company-profile/company-profile.component.html
  WebApp/src/app/shared/components/project-detail-template/project-detail-template.component.html
Labels: WebApp

fix(theme): map palette themes to their upstream roles
  WebApp/src/_themes.scss
Labels: WebApp

refactor(case-study): read accents from the shared palette variables
  WebApp/src/app/shared/components/project-detail-template/project-detail-template.component.scss
  WebApp/src/app/shared/components/project-detail-template/project-detail-template.component.ts
Labels: WebApp

fix(a11y): keep focus in open dialogs and return it on close
  WebApp/src/app/app.component.ts
Labels: WebApp

feat(theme): show each palette's signature colors in the picker
  WebApp/src/app/shared/components/theme-picker/theme-picker.component.ts
  WebApp/src/app/shared/services/theme-palette.ts
Labels: WebApp

feat(command-palette): switch color themes from the command palette
  WebApp/src/app/core/components/command-palette/command-palette.component.ts
  WebApp/src/app/shared/services/command-palette.service.ts
Labels: WebApp

feat(terminal): switch color themes with theme <name>
  WebApp/src/app/core/components/terminal-easter-egg/terminal-commands.test.ts
  WebApp/src/app/core/components/terminal-easter-egg/terminal-commands.ts
  WebApp/src/app/core/components/terminal-easter-egg/terminal-easter-egg.component.ts
Labels: WebApp

feat(terminal): add a neofetch command
  WebApp/src/app/core/components/terminal-easter-egg/terminal-commands.test.ts
  WebApp/src/app/core/components/terminal-easter-egg/terminal-commands.ts
Labels: WebApp

style(home): color merged-PR counts with the strong accent
  WebApp/src/app/home/home.component.html
Labels: WebApp

refactor(webapp): drop the last standalone: true flags
  WebApp/src/app/core/components/command-palette/command-palette.component.ts
  WebApp/src/app/core/components/terminal-easter-egg/terminal-easter-egg.component.ts
  WebApp/src/app/shared/components/theme-picker/theme-picker.component.ts
Labels: WebApp

refactor(webapp): declare the remaining host listeners in component metadata
  WebApp/src/app/core/components/command-palette/command-palette.component.ts
  WebApp/src/app/core/components/terminal-easter-egg/terminal-easter-egg.component.ts
  WebApp/src/app/shared/components/theme-picker/theme-picker.component.ts
Labels: WebApp

chore: update github contribution metrics
  WebApp/src/app/shared/data/github-metrics.ts
Labels: WebApp

.github/labeler.yml:

# WebApp label for changes under WebApp folder
WebApp:
  - changed-files:
    - any-glob-to-any-file: 'WebApp/**/*'  # Matches any file change under WebApp

# WebApi label for changes under WebApi folder
WebApi:
  - changed-files:
    - any-glob-to-any-file: 'WebApi/**/*'  # Matches any file change under WebApi

# Test label for changes in .spec.js files under WebApp/khaneliman/apps/austin-horstman/src
test:
  - changed-files:
    - any-glob-to-any-file: 'WebApp/khaneliman/apps/austin-horstman/src/**/*.spec.js'  # Matches changes in specific .spec.js files

# Angular label for changes under WebApp/khaneliman/apps
Angular:
  - changed-files:
    - any-glob-to-any-file: 'WebApp/khaneliman/apps/**/*'  # Matches any file change under WebApp/khaneliman/apps

repo:
- changed-files:
  - any-glob-to-any-file: '*'

GitHub-Action:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/*'

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
 - head-branch: ['^feature', 'feature']

# Add 'release' label to any PR that is opened against the `main` branch
release:
 - base-branch: 'main'
