Repository khaneliman/Austin-Horstman, changes with the labels that .github/labeler.yml gives for each.
All labels: WebApp, WebApi, test, Angular, repo, GitHub-Action

fix(home): dynamically calculate career length
  WebApp/src/app/personal/about/about.component.ts
  WebApp/src/app/shared/data/profile.ts
Labels: WebApp

chore(home): update what i bring section
  WebApp/src/app/home/home.component.ts
Labels: WebApp

refactor: move personal skills to shared data
  WebApp/src/app/home/home.component.ts
  WebApp/src/app/shared/data/skills.ts
Labels: WebApp

refactor: use personal skills on contact page
  WebApp/src/app/personal/contact/contact.component.html
  WebApp/src/app/personal/contact/contact.component.ts
Labels: WebApp

refactor(contact): reduce spacing more
  WebApp/src/app/personal/contact/contact.component.html
Labels: WebApp

refactor(resume): use solid stars to improve readbility
  WebApp/src/app/personal/resume/resume.component.html
  WebApp/src/app/personal/resume/resume.component.scss
  WebApp/src/app/personal/resume/resume.component.ts
Labels: WebApp

fix(floating-card): enforce text-white
  WebApp/src/app/core/components/floating-card/floating-card.component.html
Labels: WebApp

fix: formatting
  WebApp/src/app/personal/resume/resume.component.html
  WebApp/src/app/personal/resume/resume.component.ts
  WebApp/src/app/shared/components/company-profile/company-profile.component.html
  WebApp/src/app/shared/components/company-profile/company-profile.component.ts
Labels: WebApp

feat: promotion update
  WebApp/src/app/personal/resume/resume.component.html
  WebApp/src/app/shared/data/companies.ts
  WebApp/src/app/shared/data/profile.ts
Labels: WebApp

feat(resume): add SECURA migration achievements
  WebApp/src/app/shared/data/companies.ts
Labels: WebApp

fix(projects): scroll to selected project details
  WebApp/src/app/shared/components/company-profile/company-profile.component.ts
Labels: WebApp

feat(projects): highlight SECURA MuleSoft migration
  WebApp/src/app/shared/components/project-detail-template/project-detail-template.component.ts
  WebApp/src/app/shared/data/project-configurations.ts
  WebApp/src/app/shared/data/projects.ts
Labels: WebApp

chore(flake): lock update
  flake.lock
Labels: repo

chore: migrate backend to .NET 10 and refresh packages
  .github/workflows/dotnet-webapi.yml
  README.md
  WebApi/README.md
  WebApi/WebApi.csproj
  WebApi/global.json
  flake.nix
Labels: WebApi, repo, GitHub-Action

fix(companies): current company no end date
  WebApp/src/app/shared/data/companies.ts
Labels: WebApp

feat(flake): add Playwright dev shell support
  flake.nix
Labels: repo

fix(nav): render mobile and desktop navigation separately
  WebApp/src/app/core/components/navbar/navbar.component.html
Labels: WebApp

fix(card): stack resume cards on small screens
  WebApp/src/app/core/components/card/card.component.html
Labels: WebApp

fix(hero): improve mobile hero readability
  WebApp/src/app/shared/components/hero-section/hero-section.component.ts
Labels: WebApp

feat(nav): show active route state
  WebApp/src/app/core/components/navbar/navbar.component.html
  WebApp/src/app/core/components/navbar/navbar.component.ts
Labels: WebApp

fix(social-links): improve accessibility and dark mode
  WebApp/src/app/core/components/social-links/social-links.component.html
Labels: WebApp

refactor(resume): tighten resume page hierarchy
  WebApp/src/app/personal/resume/resume.component.html
Labels: WebApp

style(theme): establish portfolio typography and canvas
  WebApp/src/index.html
  WebApp/src/styles.scss
Labels: WebApp

style(nav): align chrome with portfolio palette
  WebApp/src/app/core/components/navbar/navbar.component.html
  WebApp/src/app/core/components/navbar/navbar.component.ts
  WebApp/src/app/core/components/social-links/social-links.component.html
  WebApp/src/app/shared/components/theme-toggle/theme-toggle.component.ts
Labels: WebApp

style(components): quiet shared cards and hero accents
  WebApp/src/app/core/components/card/card.component.html
  WebApp/src/app/core/components/floating-card/floating-card.component.html
  WebApp/src/app/shared/components/enhanced-feature-card/enhanced-feature-card.component.ts
  WebApp/src/app/shared/components/hero-section/hero-section.component.ts
Labels: WebApp

style(home): refine hero palette and feature surface
  WebApp/src/app/home/home.component.html
  WebApp/src/app/home/home.component.ts
Labels: WebApp

style(feature-card): improve icon and badge contrast
  WebApp/src/app/shared/components/enhanced-feature-card/enhanced-feature-card.component.html
  WebApp/src/app/shared/components/enhanced-feature-card/enhanced-feature-card.component.ts
Labels: WebApp

style(resume): calm education and employment sections
  WebApp/src/app/personal/resume/resume.component.html
Labels: WebApp

style(resume): align projects and technology sections
  WebApp/src/app/personal/resume/resume.component.html
Labels: WebApp

style(about): align profile page with portfolio theme
  WebApp/src/app/personal/about/about.component.html
Labels: WebApp

style(contact): align form page with portfolio theme
  WebApp/src/app/personal/contact/contact.component.html
Labels: WebApp

style(projects): align portfolio landing page theme
  WebApp/src/app/projects/projects.component.html
Labels: WebApp

style(project-cards): unify portfolio grid cards
  WebApp/src/app/shared/components/personal-projects-grid/personal-projects-grid.component.html
  WebApp/src/app/shared/components/personal-projects-grid/personal-projects-grid.component.ts
  WebApp/src/app/shared/components/professional-projects-grid/professional-projects-grid.component.html
Labels: WebApp

style(footer): align footer with portfolio theme
  WebApp/src/app/core/components/footer/footer.component.html
Labels: WebApp

style(projects): add restrained accent contrast
  WebApp/src/app/projects/personal/personal.component.html
  WebApp/src/app/projects/professional/professional.component.html
Labels: WebApp

chore(playwright): ignore screenshot artifacts
  .gitignore
Labels: repo

style(feature-card): add restrained accent rails
  WebApp/src/app/shared/components/enhanced-feature-card/enhanced-feature-card.component.ts
Labels: WebApp

style(resume): add restrained accent rails
  WebApp/src/app/personal/resume/resume.component.html
Labels: WebApp

style(resume): match paired project ctas
  WebApp/src/app/personal/resume/resume.component.html
Labels: WebApp

style(floating-card): remove status color drift
  WebApp/src/app/core/components/floating-card/floating-card.component.html
Labels: WebApp

.github/labeler.yml:

# WebApp label for changes under WebApp folder
WebApp:
  - changed-files:
    - any-glob-to-any-file: 'WebApp/**/*'  # Matches any file change under WebApp

# WebApi label for changes under WebApi folder
WebApi:
  - changed-files:
    - any-glob-to-any-file: 'WebApi/**/*'  # Matches any file change under WebApi

# Test label for changes in .spec.js files under WebApp/khaneliman/apps/austin-horstman/src
test:
  - changed-files:
    - any-glob-to-any-file: 'WebApp/khaneliman/apps/austin-horstman/src/**/*.spec.js'  # Matches changes in specific .spec.js files

# Angular label for changes under WebApp/khaneliman/apps
Angular:
  - changed-files:
    - any-glob-to-any-file: 'WebApp/khaneliman/apps/**/*'  # Matches any file change under WebApp/khaneliman/apps

repo:
- changed-files:
  - any-glob-to-any-file: '*'

GitHub-Action:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/*'

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
 - head-branch: ['^feature', 'feature']

# Add 'release' label to any PR that is opened against the `main` branch
release:
 - base-branch: 'main'
