Repository khaneliman/Austin-Horstman, changes with the labels that .github/labeler.yml gives for each.
All labels: WebApp, WebApi, test, Angular, repo, GitHub-Action

.github/labeler.yml:

# WebApp label for changes under WebApp folder
WebApp:
  - changed-files:
    - any-glob-to-any-file: 'WebApp/**/*'  # Matches any file change under WebApp

# WebApi label for changes under WebApi folder
WebApi:
  - changed-files:
    - any-glob-to-any-file: 'WebApi/**/*'  # Matches any file change under WebApi

# Test label for changes in .spec.js files under WebApp/khaneliman/apps/austin-horstman/src
test:
  - changed-files:
    - any-glob-to-any-file: 'WebApp/khaneliman/apps/austin-horstman/src/**/*.spec.js'  # Matches changes in specific .spec.js files

# Angular label for changes under WebApp/khaneliman/apps
Angular:
  - changed-files:
    - any-glob-to-any-file: 'WebApp/khaneliman/apps/**/*'  # Matches any file change under WebApp/khaneliman/apps

repo:
- changed-files:
  - any-glob-to-any-file: '*'

GitHub-Action:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/*'

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
 - head-branch: ['^feature', 'feature']

# Add 'release' label to any PR that is opened against the `main` branch
release:
 - base-branch: 'main'

[CodeFactor] Apply fixes to commit a2b2867
  WebApp/src/assets/scss/bootstrap/_popover.scss
Labels: WebApp

flake.nix: add more dependencies to dev shell
  flake.nix
Labels: repo

fix: remove empty constructors and lifecycle methods
  WebApp/src/app/core/components/card/card.component.ts
  WebApp/src/app/core/components/floating-card/floating-card.component.ts
  WebApp/src/app/core/components/separator/separator.component.ts
Labels: WebApp

refactor: migrate constructor injection to inject() function
  WebApp/src/app/core/components/footer/footer.component.ts
  WebApp/src/app/core/components/navbar/navbar.component.ts
  WebApp/src/app/personal/resume/education/education.component.ts
  WebApp/src/app/personal/resume/employment/employment.component.ts
  WebApp/src/app/personal/resume/projects/projects.component.ts
Labels: WebApp

fix: replace any types with proper TypeScript types
  WebApp/src/app/personal/contact/contact.component.ts
Labels: WebApp

fix: add alt text to images for accessibility
  WebApp/src/app/home/home.component.html
  WebApp/src/app/personal/about/about.component.html
  WebApp/src/app/personal/resume/education/foxvalley/foxvalley.component.html
  WebApp/src/app/personal/resume/employment/bestbuy/bestbuy.component.html
  WebApp/src/app/personal/resume/employment/corebts/corebts.component.html
  WebApp/src/app/personal/resume/employment/skyline/skyline.component.html
  WebApp/src/app/personal/resume/employment/west/west.component.html
  WebApp/src/app/personal/resume/projects/corebts/corebts.component.html
  WebApp/src/app/personal/resume/projects/geeksquad/geeksquad.component.html
  WebApp/src/app/personal/resume/projects/west/west.component.html
  WebApp/src/app/personal/resume/resume.component.html
Labels: WebApp

refactor: clean up unused NgbTooltip import
  WebApp/src/app/core/components/footer/footer.component.html
Labels: WebApp

package.json: add production build
  WebApp/package.json
Labels: WebApp

docker-compose: add production
  docker-compose.production.yml
Labels: repo

webapp: add production dockerfile
  WebApp/Dockerfile.production
  WebApp/nginx.conf
Labels: WebApp

webapp/tsconfig.json: add paths
  WebApp/tsconfig.json
Labels: WebApp

personal/resume: update technology
  WebApp/src/app/personal/resume/resume.component.html
Labels: WebApp

feat: enhance development workflow and production deployment
  .github/workflows/angular-webapp.yml
  WebApp/Dockerfile.production
  WebApp/package.json
Labels: WebApp, GitHub-Action

ci: deploy as prod build
  .github/workflows/docker-webapp.yml
Labels: GitHub-Action

ci: deploy releases
  .github/workflows/docker-webapp.yml
Labels: GitHub-Action

ci: consolidate docker web app job
  .github/workflows/docker-webapp.yml
Labels: GitHub-Action

flake.nix: add prettier to dev shell
  flake.nix
Labels: repo

perf(card): add OnPush change detection strategy
  WebApp/src/app/core/components/card/card.component.ts
Labels: WebApp

perf(floating-card): add OnPush change detection strategy
  WebApp/src/app/core/components/floating-card/floating-card.component.ts
Labels: WebApp

perf(footer): add OnPush change detection strategy
  WebApp/src/app/core/components/footer/footer.component.ts
Labels: WebApp

perf(separator): add OnPush change detection strategy
  WebApp/src/app/core/components/separator/separator.component.ts
Labels: WebApp

perf(social-links): add OnPush change detection strategy
  WebApp/src/app/core/components/social-links/social-links.component.ts
Labels: WebApp

perf(floating-card): implement trackBy function for tags *ngFor
  WebApp/src/app/core/components/floating-card/floating-card.component.html
Labels: WebApp

perf(social-links): implement trackBy function for socialLinks *ngFor
  WebApp/src/app/core/components/social-links/social-links.component.html
Labels: WebApp

perf(navbar): add OnPush change detection and proper subscription cleanup
  WebApp/src/app/core/components/navbar/navbar.component.ts
Labels: WebApp

refactor: add barrel export for core components
  WebApp/src/app/core/components/index.ts
Labels: WebApp

refactor: add barrel export for core module
  WebApp/src/app/core/index.ts
Labels: WebApp

style: improve import order in main.ts
  WebApp/src/main.ts
Labels: WebApp

refactor: extract shared interfaces and types
  WebApp/src/app/shared/index.ts
  WebApp/src/app/shared/types/employer.interface.ts
  WebApp/src/app/shared/types/experience.interface.ts
  WebApp/src/app/shared/types/index.ts
  WebApp/src/app/shared/types/project.interface.ts
  WebApp/src/app/shared/types/skill.interface.ts
  WebApp/src/app/shared/types/social-link.interface.ts
Labels: WebApp

refactor(social-links): use shared SocialLink interface
  WebApp/src/app/core/components/social-links/social-links.component.ts
Labels: WebApp

refactor: remove duplicate social-link.ts file
  WebApp/src/app/core/components/social-links/social-link.ts
Labels: WebApp

feat: add data management services
  WebApp/src/app/core/services/index.ts
  WebApp/src/app/core/services/resume-data.service.ts
  WebApp/src/app/core/services/social-links.service.ts
Labels: WebApp

refactor(social-links): use SocialLinksService for data
  WebApp/src/app/core/components/social-links/social-links.component.ts
  WebApp/src/app/core/index.ts
Labels: WebApp

feat: implement Angular Signals for reactive state management
  WebApp/src/app/core/components/social-links/social-links.component.html
  WebApp/src/app/core/components/social-links/social-links.component.ts
  WebApp/src/app/core/services/social-links.service.ts
Labels: WebApp

feat: replace *ngIf/*ngFor with modern control flow syntax
  WebApp/src/app/core/components/floating-card/floating-card.component.html
  WebApp/src/app/core/components/floating-card/floating-card.component.ts
  WebApp/src/app/core/components/social-links/social-links.component.html
  WebApp/src/app/core/components/social-links/social-links.component.ts
Labels: WebApp

feat(about): calculate age dynamically from birth date
  WebApp/src/app/personal/about/about.component.html
  WebApp/src/app/personal/about/about.component.ts
Labels: WebApp

fix: resolve linting issues with unused imports and empty interfaces
  WebApp/src/app/core/components/social-links/social-links.component.ts
  WebApp/src/app/shared/types/skill.interface.ts
Labels: WebApp

fix: add standalone property to components using imports array
  WebApp/src/app/core/components/card/card.component.ts
  WebApp/src/app/core/components/floating-card/floating-card.component.ts
  WebApp/src/app/core/components/footer/footer.component.ts
  WebApp/src/app/core/components/navbar/navbar.component.ts
  WebApp/src/app/core/components/social-links/social-links.component.ts
  WebApp/src/app/personal/about/about.component.ts
Labels: WebApp

fix: webapp prettier
  WebApp/.lintstagedrc.json
  WebApp/.prettierrc
  WebApp/angular.json
  WebApp/eslint.config.js
  WebApp/jest.config.js
  WebApp/setup-jest.ts
  WebApp/src/app/core/components/index.ts
  WebApp/src/app/core/components/social-links/social-links.component.html
  WebApp/src/app/core/index.ts
  WebApp/src/app/core/services/index.ts
  WebApp/src/app/core/services/resume-data.service.ts
  WebApp/src/app/core/services/social-links.service.ts
  WebApp/src/app/shared/index.ts
  WebApp/src/app/shared/types/employer.interface.ts
  WebApp/src/app/shared/types/experience.interface.ts
  WebApp/src/app/shared/types/index.ts
  WebApp/src/app/shared/types/project.interface.ts
  WebApp/src/app/shared/types/social-link.interface.ts
  WebApp/src/assets/data/frameworks.json
  WebApp/src/assets/data/languages.json
  WebApp/src/assets/data/projects.json
  WebApp/src/assets/data/resume.json
  WebApp/src/assets/data/work-history.json
  WebApp/src/assets/vendor/font-awesome/css/font-awesome.css
  WebApp/src/assets/vendor/nucleo/css/nucleo-svg.css
  WebApp/src/assets/vendor/nucleo/css/nucleo.css
  WebApp/tsconfig.app.json
  WebApp/tsconfig.json
  WebApp/tsconfig.spec.json
Labels: WebApp

feat: modernize about page with Tailwind design system
  WebApp/src/app/personal/about/about.component.html
Labels: WebApp
