Repository khaneliman/Austin-Horstman, changes with the labels that .github/labeler.yml gives for each.
All labels: WebApp, WebApi, test, Angular, repo, GitHub-Action

.github/labeler.yml:

# WebApp label for changes under WebApp folder
WebApp:
  - changed-files:
    - any-glob-to-any-file: 'WebApp/**/*'  # Matches any file change under WebApp

# WebApi label for changes under WebApi folder
WebApi:
  - changed-files:
    - any-glob-to-any-file: 'WebApi/**/*'  # Matches any file change under WebApi

# Test label for changes in .spec.js files under WebApp/khaneliman/apps/austin-horstman/src
test:
  - changed-files:
    - any-glob-to-any-file: 'WebApp/khaneliman/apps/austin-horstman/src/**/*.spec.js'  # Matches changes in specific .spec.js files

# Angular label for changes under WebApp/khaneliman/apps
Angular:
  - changed-files:
    - any-glob-to-any-file: 'WebApp/khaneliman/apps/**/*'  # Matches any file change under WebApp/khaneliman/apps

repo:
- changed-files:
  - any-glob-to-any-file: '*'

GitHub-Action:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/*'

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
 - head-branch: ['^feature', 'feature']

# Add 'release' label to any PR that is opened against the `main` branch
release:
 - base-branch: 'main'

refactor: replace FontAwesome with Heroicon in professional projects breadcrumb
  WebApp/src/app/projects/professional/professional.component.html
Labels: WebApp

fix: add missing HTTP client provider in app config
  WebApp/src/app/app.config.ts
Labels: WebApp

chore: update dev dependencies and add missing build tool
  WebApp/bun.lock
  WebApp/package.json
Labels: WebApp

chore: remove unused husky prepare script from package.json
  WebApp/package.json
Labels: WebApp

refactor: extract projects breadcrumb into reusable component
  WebApp/src/app/projects/personal/personal.component.html
  WebApp/src/app/projects/personal/personal.component.ts
  WebApp/src/app/projects/professional/professional.component.html
  WebApp/src/app/projects/professional/professional.component.ts
  WebApp/src/app/projects/shared/components/breadcrumb/projects-breadcrumb.component.ts
Labels: WebApp

chore: format route configurations for better readability
  WebApp/src/app/projects/professional/corebts/corebts.routes.ts
  WebApp/src/app/projects/professional/geeksquad/geeksquad.routes.ts
  WebApp/src/app/projects/professional/skyline/skyline.routes.ts
  WebApp/src/app/projects/professional/west/west.routes.ts
Labels: WebApp

flake.nix: re-add nodejs to dev shell
  flake.nix
Labels: repo

fix: remove unused RouterLink import from PersonalComponent
  WebApp/src/app/projects/personal/personal.component.ts
Labels: WebApp

refactor: redesign employment section with focused current company and grid layout
  WebApp/src/app/personal/resume/resume.component.html
Labels: WebApp

fix: correct employment timeline and company data accuracy
  WebApp/src/app/shared/data/companies.ts
Labels: WebApp

refactor: replace hardcoded employment data with dynamic company configuration
  WebApp/src/app/personal/resume/resume.component.html
  WebApp/src/app/personal/resume/resume.component.ts
Labels: WebApp

refactor: rename generic metric properties to semantic names in company data
  WebApp/src/app/shared/data/companies.ts
Labels: WebApp

feat: implement dynamic statistics calculation in resume component
  WebApp/src/app/personal/resume/resume.component.html
  WebApp/src/app/personal/resume/resume.component.ts
Labels: WebApp

refactor: update company profile template to use semantic property names
  WebApp/src/app/shared/components/company-profile/company-profile.component.html
Labels: WebApp

refactor: replace hardcoded technology list with dynamic calculation
  WebApp/src/app/personal/resume/resume.component.ts
Labels: WebApp

feat: create centralized technology skills data structure
  WebApp/src/app/shared/data/technologies.ts
Labels: WebApp

refactor: replace hardcoded technology lists with centralized data
  WebApp/src/app/personal/resume/resume.component.html
  WebApp/src/app/personal/resume/resume.component.ts
Labels: WebApp

refactor: simplify technology data structure by removing category field
  WebApp/src/app/shared/data/technologies.ts
Labels: WebApp

ci: migrate GitHub workflow from Node.js/npm to Bun
  .github/workflows/angular-webapp.yml
Labels: GitHub-Action

refactor: standardize test runner to use Jest consistently
  WebApp/package.json
Labels: WebApp

test: migrate dropdown-menu component test to Jest syntax
  WebApp/src/app/shared/components/dropdown-menu/dropdown-menu.component.spec.ts
Labels: WebApp

fix: resolve Jest spy type errors in dropdown menu tests
  WebApp/src/app/shared/components/dropdown-menu/dropdown-menu.component.spec.ts
Labels: WebApp

fix: eliminate console errors in dropdown menu tests
  WebApp/src/app/shared/components/dropdown-menu/dropdown-menu.component.spec.ts
Labels: WebApp

fix: add router configuration to dropdown menu tests
  WebApp/src/app/shared/components/dropdown-menu/dropdown-menu.component.spec.ts
Labels: WebApp

fix: resolve CI warnings and optimize SCSS bundle size
  WebApp/angular.json
  WebApp/src/app/shared/components/company-profile/company-profile.component.scss
Labels: WebApp

fix: suppress CSS parsing errors and resolve formatting issues
  WebApp/setup-jest.ts
  WebApp/src/app/personal/resume/resume.component.html
Labels: WebApp

test: add comprehensive logo styling service tests
  WebApp/src/app/shared/services/logo-styling.service.test.ts
Labels: WebApp

test: add comprehensive technology skills data validation
  WebApp/src/app/shared/data/technologies.test.ts
Labels: WebApp

test: add comprehensive personal projects data validation
  WebApp/src/app/shared/data/personal-projects.test.ts
Labels: WebApp

test: add comprehensive project configurations validation
  WebApp/src/app/shared/data/project-configurations.test.ts
Labels: WebApp

docs: update README.md to reflect npm to Bun migration
  README.md
Labels: repo

test: add comprehensive interface validation tests
  WebApp/src/app/shared/interfaces/project-detail.interface.test.ts
Labels: WebApp

feat: add hybrid Biome+Prettier formatting setup
  WebApp/.prettierrc
  WebApp/biome.json
  WebApp/bun.lock
  WebApp/eslint.config.js
  WebApp/package.json
Labels: WebApp

config: add noUncheckedIndexedAccess for safer array access
  WebApp/tsconfig.json
Labels: WebApp

fix: resolve TypeScript strict mode array access issues
  WebApp/src/app/personal/resume/education/education.component.ts
  WebApp/src/app/personal/resume/employment/employment.component.ts
  WebApp/src/app/shared/components/company-profile/company-profile.component.ts
  WebApp/src/app/shared/components/stats-grid/stats-grid.component.ts
  WebApp/src/app/shared/data/projects.ts
Labels: WebApp

chore: update Nix flake development environment
  flake.nix
Labels: repo

fix(docker): correct Bun lockfile name in Dockerfiles
  WebApp/Dockerfile
  WebApp/Dockerfile.production
Labels: WebApp

fix(docker): add Node.js support to resolve Bun compatibility
  WebApp/Dockerfile
  WebApp/Dockerfile.production
Labels: WebApp

test: add Bun test configuration and Angular test setup
  WebApp/bun.config.ts
  WebApp/test-setup.ts
Labels: WebApp

test: add comprehensive logic tests for core components
  WebApp/src/app/core/components/navbar/navbar.logic.test.ts
  WebApp/src/app/personal/resume/resume.logic.test.ts
Labels: WebApp
