Repository khaneliman/Austin-Horstman, changes with the labels that .github/labeler.yml gives for each.
All labels: WebApp, WebApi, test, Angular, repo, GitHub-Action

style(resume): add controlled project accent rhythm
  WebApp/src/app/core/components/floating-card/floating-card.component.html
  WebApp/src/app/core/components/floating-card/floating-card.component.ts
  WebApp/src/app/personal/resume/resume.component.html
  WebApp/src/app/personal/resume/resume.component.ts
Labels: WebApp

style(projects): align highlight accent palette
  WebApp/src/app/projects/professional/professional.component.html
Labels: WebApp

style(projects): align landing page accents
  WebApp/src/app/projects/projects.component.html
  WebApp/src/app/projects/projects.component.ts
Labels: WebApp

style(about): add portfolio accent treatment
  WebApp/src/app/personal/about/about.component.html
Labels: WebApp

style(contact): align form page accents
  WebApp/src/app/personal/contact/contact.component.html
  WebApp/src/app/personal/contact/contact.component.ts
Labels: WebApp

style(home): sharpen hero positioning
  WebApp/src/app/home/home.component.html
  WebApp/src/app/shared/data/profile.ts
  WebApp/src/app/shared/data/skills.ts
Labels: WebApp

style(contact): align skill icon accents
  WebApp/src/app/personal/contact/contact.component.html
  WebApp/src/app/personal/contact/contact.component.ts
Labels: WebApp

chore(gitignore): ignore webapp playwright output
  .gitignore
Labels: repo

style(projects): improve professional grid scanning
  WebApp/src/app/shared/components/professional-projects-grid/professional-projects-grid.component.html
  WebApp/src/app/shared/components/professional-projects-grid/professional-projects-grid.component.ts
Labels: WebApp

fix(projects): use geeksquad grid routes
  WebApp/src/app/shared/data/projects.test.ts
  WebApp/src/app/shared/data/projects.ts
Labels: WebApp

style(nav): focus social links
  WebApp/src/app/core/components/social-links/social-links.component.html
  WebApp/src/app/core/components/social-links/social-links.component.ts
Labels: WebApp

chore(devshell): add project commands
  flake.nix
Labels: repo

style(resume): make light theme colors consistent
  WebApp/src/app/personal/resume/resume.component.html
Labels: WebApp

style(projects): align landing and category cards for light mode
  WebApp/src/app/projects/personal/personal.component.html
  WebApp/src/app/projects/projects.component.html
Labels: WebApp

style(personal-projects-grid): adapt cards for light mode
  WebApp/src/app/shared/components/personal-projects-grid/personal-projects-grid.component.html
Labels: WebApp

style(professional-projects-grid): add light theme header variants
  WebApp/src/app/shared/components/professional-projects-grid/professional-projects-grid.component.html
  WebApp/src/app/shared/components/professional-projects-grid/professional-projects-grid.component.ts
Labels: WebApp

style(personal-projects-grid): improve light-mode card contrast
  WebApp/src/app/shared/components/personal-projects-grid/personal-projects-grid.component.html
Labels: WebApp

feat(typography): introduce Space Grotesk display face for headings
  WebApp/src/index.html
  WebApp/src/styles.scss
Labels: WebApp

fix(social): standardize profile links
  WebApp/src/app/core/components/social-links/social-links.component.ts
  WebApp/src/app/core/services/social-links.service.test.ts
  WebApp/src/app/core/services/social-links.service.ts
  WebApp/src/index.html
Labels: WebApp

fix(resume): color skill stars to match the proficiency legend
  WebApp/src/app/personal/resume/resume.component.html
  WebApp/src/app/personal/resume/resume.component.scss
Labels: WebApp

fix(resume): dedupe projects shared across companies in featured grid
  WebApp/src/app/personal/resume/resume.component.ts
Labels: WebApp

style(technology): align skills page with site theme and fix dark mode
  WebApp/src/app/personal/resume/technology/technology.component.html
  WebApp/src/app/personal/resume/technology/technology.component.ts
Labels: WebApp

fix(resume): show calculated project/client counts on employment pages
  WebApp/src/app/personal/resume/employment/bestbuy/bestbuy.component.ts
  WebApp/src/app/personal/resume/employment/corebts/corebts.component.ts
  WebApp/src/app/personal/resume/employment/nri-na/nri-na.component.ts
  WebApp/src/app/personal/resume/employment/skyline/skyline.component.ts
  WebApp/src/app/personal/resume/employment/west/west.component.ts
Labels: WebApp

style(floating-card): drop uppercase on project titles
  WebApp/src/app/core/components/floating-card/floating-card.component.html
Labels: WebApp

style(resume): unify section headers and tighten layout
  WebApp/src/app/personal/resume/resume.component.html
Labels: WebApp

ci: update workflows for main branch
  .github/workflows/angular-webapp.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker-webapi.yml
  .github/workflows/docker-webapp.yml
  .github/workflows/dotnet-webapi.yml
  .github/workflows/linter.yml
Labels: GitHub-Action

ci: disable standard TypeScript lint
  .github/workflows/linter.yml
Labels: GitHub-Action

ci: disable Checkov in super-linter
  .github/workflows/linter.yml
Labels: GitHub-Action

ci: disable duplicate detector in super-linter
  .github/workflows/linter.yml
Labels: GitHub-Action

fix(company-profile): restore header and button backgrounds
  WebApp/src/app/shared/components/company-profile/company-profile.component.html
Labels: WebApp

style(company-profile): use on-brand teal accents for header and stats
  WebApp/src/app/shared/components/company-profile/company-profile.component.html
Labels: WebApp

fix(resume): clear fixed navbar on the education section
  WebApp/src/app/personal/resume/resume.component.html
Labels: WebApp

fix(company-profile): prioritize active project details
  WebApp/src/app/shared/components/company-profile/company-profile.component.html
Labels: WebApp

feat(project-nav): expose sibling project links
  WebApp/src/app/shared/components/company-profile/company-profile.component.ts
  WebApp/src/app/shared/components/project-nav-header/project-nav-header.component.html
  WebApp/src/app/shared/components/project-nav-header/project-nav-header.component.ts
Labels: WebApp

feat(resume): add section review navigation
  WebApp/src/app/personal/resume/resume.component.html
  WebApp/src/app/personal/resume/resume.component.ts
Labels: WebApp

feat(experience): add canonical role routes
  WebApp/src/app/app.routes.ts
  WebApp/src/app/experience/experience.routes.ts
Labels: WebApp

docs(portfolio): define canonical IA model
  docs/portfolio-information-architecture.md
Labels: none

feat(experience): prefer canonical role links
  WebApp/src/app/personal/resume/resume.component.html
  WebApp/src/app/personal/resume/resume.logic.test.ts
  WebApp/src/app/shared/components/company-profile/company-profile.component.ts
  WebApp/src/app/shared/components/company-profile/company-profile.logic.test.ts
  WebApp/src/app/shared/data/companies.ts
Labels: WebApp

feat(experience): redirect legacy company routes
  WebApp/src/app/personal/resume/employment/employment.routes.ts
  WebApp/src/app/projects/professional/professional.routes.ts
Labels: WebApp

feat(projects): return case studies to experience pages
  WebApp/src/app/projects/professional/nri-na/doitbest/doitbest.component.ts
  WebApp/src/app/projects/professional/skyline/kroger/kroger.component.ts
  WebApp/src/app/shared/data/project-configurations.test.ts
  WebApp/src/app/shared/data/project-configurations.ts
Labels: WebApp

.github/labeler.yml:

# WebApp label for changes under WebApp folder
WebApp:
  - changed-files:
    - any-glob-to-any-file: 'WebApp/**/*'  # Matches any file change under WebApp

# WebApi label for changes under WebApi folder
WebApi:
  - changed-files:
    - any-glob-to-any-file: 'WebApi/**/*'  # Matches any file change under WebApi

# Test label for changes in .spec.js files under WebApp/khaneliman/apps/austin-horstman/src
test:
  - changed-files:
    - any-glob-to-any-file: 'WebApp/khaneliman/apps/austin-horstman/src/**/*.spec.js'  # Matches changes in specific .spec.js files

# Angular label for changes under WebApp/khaneliman/apps
Angular:
  - changed-files:
    - any-glob-to-any-file: 'WebApp/khaneliman/apps/**/*'  # Matches any file change under WebApp/khaneliman/apps

repo:
- changed-files:
  - any-glob-to-any-file: '*'

GitHub-Action:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/*'

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
 - head-branch: ['^feature', 'feature']

# Add 'release' label to any PR that is opened against the `main` branch
release:
 - base-branch: 'main'
