Repository khaneliman/Austin-Horstman, changes with the labels that .github/labeler.yml gives for each.
All labels: WebApp, WebApi, test, Angular, repo, GitHub-Action

.github/labeler.yml:

# WebApp label for changes under WebApp folder
WebApp:
  - changed-files:
    - any-glob-to-any-file: 'WebApp/**/*'  # Matches any file change under WebApp

# WebApi label for changes under WebApi folder
WebApi:
  - changed-files:
    - any-glob-to-any-file: 'WebApi/**/*'  # Matches any file change under WebApi

# Test label for changes in .spec.js files under WebApp/khaneliman/apps/austin-horstman/src
test:
  - changed-files:
    - any-glob-to-any-file: 'WebApp/khaneliman/apps/austin-horstman/src/**/*.spec.js'  # Matches changes in specific .spec.js files

# Angular label for changes under WebApp/khaneliman/apps
Angular:
  - changed-files:
    - any-glob-to-any-file: 'WebApp/khaneliman/apps/**/*'  # Matches any file change under WebApp/khaneliman/apps

repo:
- changed-files:
  - any-glob-to-any-file: '*'

GitHub-Action:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/*'

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
 - head-branch: ['^feature', 'feature']

# Add 'release' label to any PR that is opened against the `main` branch
release:
 - base-branch: 'main'

feat: add comprehensive project configurations for all remaining components
  WebApp/src/app/shared/components/project-detail-template/project-detail-template.component.ts
  WebApp/src/app/shared/data/project-configurations.ts
Labels: WebApp

refactor: migrate all remaining project components to template system
  WebApp/src/app/projects/professional/corebts/doitbest/doitbest.component.html
  WebApp/src/app/projects/professional/corebts/doitbest/doitbest.component.ts
  WebApp/src/app/projects/professional/corebts/kroger/kroger.component.html
  WebApp/src/app/projects/professional/corebts/kroger/kroger.component.ts
  WebApp/src/app/projects/professional/geeksquad/stat-tracker/stat-tracker.component.ts
  WebApp/src/app/projects/professional/nri-na/ai-resource-staffing/ai-resource-staffing.component.ts
  WebApp/src/app/projects/professional/nri-na/mulesoft-migrator/mulesoft-migrator.component.ts
  WebApp/src/app/projects/professional/nri-na/tax-document-analysis/tax-document-analysis.component.ts
  WebApp/src/app/projects/professional/skyline/cleartrend/cleartrend.component.html
  WebApp/src/app/projects/professional/skyline/cleartrend/cleartrend.component.ts
  WebApp/src/app/projects/professional/skyline/express-scripts/express-scripts.component.html
  WebApp/src/app/projects/professional/skyline/express-scripts/express-scripts.component.ts
  WebApp/src/app/projects/professional/skyline/jj-keller/jj-keller.component.html
  WebApp/src/app/projects/professional/skyline/jj-keller/jj-keller.component.ts
  WebApp/src/app/projects/professional/skyline/mile-of-music/mile-of-music.component.html
  WebApp/src/app/projects/professional/skyline/mile-of-music/mile-of-music.component.ts
  WebApp/src/app/projects/professional/skyline/network-health/network-health.component.html
  WebApp/src/app/projects/professional/skyline/network-health/network-health.component.ts
  WebApp/src/app/projects/professional/skyline/renaissance-learning/renaissance-learning.component.html
  WebApp/src/app/projects/professional/skyline/renaissance-learning/renaissance-learning.component.ts
Labels: WebApp

refactor: unify all projects to use gradient header style
  WebApp/src/app/shared/components/project-detail-template/project-detail-template.component.html
  WebApp/src/app/shared/data/project-configurations.ts
  WebApp/src/app/shared/interfaces/project-detail.interface.ts
Labels: WebApp

feat: add BaseCardComponent for consistent card styling
  WebApp/src/app/shared/components/base-card/base-card.component.ts
Labels: WebApp

feat: add SectionHeaderComponent for consistent section headers
  WebApp/src/app/shared/components/section-header/section-header.component.ts
Labels: WebApp

feat: add TechTag components for technology badges
  WebApp/src/app/shared/components/tech-tag-list/tech-tag-list.component.ts
  WebApp/src/app/shared/components/tech-tag/tech-tag.component.ts
Labels: WebApp

feat: add Feature components for consistent feature displays
  WebApp/src/app/shared/components/feature-grid/feature-grid.component.ts
  WebApp/src/app/shared/components/feature-item/feature-item.component.ts
Labels: WebApp

feat: add Stats components for statistical data displays
  WebApp/src/app/shared/components/stat-card/stat-card.component.ts
  WebApp/src/app/shared/components/stats-grid/stats-grid.component.ts
Labels: WebApp

feat: add IconButtonComponent for consistent icon interactions
  WebApp/src/app/shared/components/icon-button/icon-button.component.ts
Labels: WebApp

feat: add additionalClasses support to BaseCardComponent
  WebApp/src/app/shared/components/base-card/base-card.component.ts
Labels: WebApp

fix: use additionalClasses for section spacing in ProjectDetailTemplate
  WebApp/src/app/shared/components/project-detail-template/project-detail-template.component.html
Labels: WebApp

refactor: migrate ai-resource-staffing to use ProjectDetailTemplate
  WebApp/src/app/projects/professional/nri-na/ai-resource-staffing/ai-resource-staffing.component.html
  WebApp/src/app/projects/professional/nri-na/ai-resource-staffing/ai-resource-staffing.component.ts
Labels: WebApp

refactor: migrate tax-document-analysis to use ProjectDetailTemplate
  WebApp/src/app/projects/professional/nri-na/tax-document-analysis/tax-document-analysis.component.html
  WebApp/src/app/projects/professional/nri-na/tax-document-analysis/tax-document-analysis.component.ts
Labels: WebApp

refactor: migrate mulesoft-migrator to use ProjectDetailTemplate
  WebApp/src/app/projects/professional/nri-na/mulesoft-migrator/mulesoft-migrator.component.html
  WebApp/src/app/projects/professional/nri-na/mulesoft-migrator/mulesoft-migrator.component.ts
Labels: WebApp

refactor: migrate NRI-NA doitbest to use ProjectDetailTemplate
  WebApp/src/app/projects/professional/nri-na/doitbest/doitbest.component.html
  WebApp/src/app/projects/professional/nri-na/doitbest/doitbest.component.ts
Labels: WebApp

refactor: migrate stat-tracker to use ProjectDetailTemplate
  WebApp/src/app/projects/professional/geeksquad/stat-tracker/stat-tracker.component.html
  WebApp/src/app/projects/professional/geeksquad/stat-tracker/stat-tracker.component.ts
Labels: WebApp

fix: update ProjectDetailTemplate and StatsGrid for proper data handling
  WebApp/src/app/shared/components/project-detail-template/project-detail-template.component.ts
  WebApp/src/app/shared/components/stats-grid/stats-grid.component.ts
Labels: WebApp

refactor: migrate remaining kroger components to ProjectDetailTemplate
  WebApp/src/app/projects/professional/skyline/kroger/kroger.component.html
  WebApp/src/app/projects/professional/skyline/kroger/kroger.component.ts
Labels: WebApp

refactor: migrate remaining dib components to ProjectDetailTemplate
  WebApp/src/app/shared/components/doitbest-project/doitbest-project.component.html
  WebApp/src/app/shared/components/doitbest-project/doitbest-project.component.ts
Labels: WebApp

feat: add DecorativeBackgroundComponent for animated blur elements
  WebApp/src/app/shared/components/decorative-background/decorative-background.component.ts
  WebApp/src/app/shared/index.ts
Labels: WebApp

feat: add HeroSectionComponent for page banner sections
  WebApp/src/app/shared/components/hero-section/hero-section.component.ts
Labels: WebApp

feat: add Enhanced FeatureCardComponent
  WebApp/src/app/shared/components/enhanced-feature-card/README.md
  WebApp/src/app/shared/components/enhanced-feature-card/enhanced-feature-card.component.html
  WebApp/src/app/shared/components/enhanced-feature-card/enhanced-feature-card.component.scss
  WebApp/src/app/shared/components/enhanced-feature-card/enhanced-feature-card.component.ts
Labels: WebApp

feat: add FormInputComponent
  WebApp/src/app/shared/components/form-input/form-input.component.ts
Labels: WebApp

feat: add DropdownMenuComponent
  WebApp/src/app/shared/components/dropdown-menu/dropdown-menu.component.html
  WebApp/src/app/shared/components/dropdown-menu/dropdown-menu.component.scss
  WebApp/src/app/shared/components/dropdown-menu/dropdown-menu.component.spec.ts
  WebApp/src/app/shared/components/dropdown-menu/dropdown-menu.component.ts
  WebApp/src/app/shared/components/dropdown-menu/index.ts
Labels: WebApp

feat: add ProjectHeaderComponent
  WebApp/src/app/shared/components/project-header/project-header.component.html
  WebApp/src/app/shared/components/project-header/project-header.component.scss
  WebApp/src/app/shared/components/project-header/project-header.component.ts
Labels: WebApp

feat: add BulletListComponent
  WebApp/src/app/shared/components/bullet-list/bullet-list.component.ts
Labels: WebApp

feat: add WaveSeparatorComponent
  WebApp/src/app/shared/components/wave-separator/wave-separator.component.ts
Labels: WebApp

refactor: replace home page duplicated patterns with reusable components
  WebApp/src/app/home/home.component.html
  WebApp/src/app/home/home.component.ts
Labels: WebApp

refactor: replace contact page patterns with reusable components
  WebApp/src/app/personal/contact/contact.component.html
  WebApp/src/app/personal/contact/contact.component.ts
Labels: WebApp

refactor: replace resume section patterns with reusable components
  WebApp/src/app/personal/resume/education/foxvalley/foxvalley.component.html
  WebApp/src/app/personal/resume/education/foxvalley/foxvalley.component.ts
  WebApp/src/app/personal/resume/employment/employment.component.html
  WebApp/src/app/personal/resume/employment/employment.component.ts
  WebApp/src/app/personal/resume/resume.component.html
  WebApp/src/app/personal/resume/resume.component.ts
  WebApp/src/app/personal/resume/technology/technology.component.html
  WebApp/src/app/personal/resume/technology/technology.component.ts
Labels: WebApp

refactor: replace shared component patterns with reusable components
  WebApp/src/app/shared/components/bullet-list/bullet-list.component.ts
  WebApp/src/app/shared/components/company-profile/company-profile.component.html
  WebApp/src/app/shared/components/company-profile/company-profile.component.ts
  WebApp/src/app/shared/components/decorative-background/decorative-background.component.ts
  WebApp/src/app/shared/components/doitbest-project/doitbest-project.component.html
  WebApp/src/app/shared/components/doitbest-project/doitbest-project.component.ts
  WebApp/src/app/shared/components/enhanced-feature-card/enhanced-feature-card.component.ts
  WebApp/src/app/shared/components/hero-section/hero-section.component.ts
  WebApp/src/app/shared/components/kroger-project/kroger-project.component.html
  WebApp/src/app/shared/components/kroger-project/kroger-project.component.ts
  WebApp/src/app/shared/components/personal-projects-grid/personal-projects-grid.component.html
  WebApp/src/app/shared/components/personal-projects-grid/personal-projects-grid.component.ts
  WebApp/src/app/shared/components/professional-projects-grid/professional-projects-grid.component.html
  WebApp/src/app/shared/components/professional-projects-grid/professional-projects-grid.component.ts
  WebApp/src/app/shared/components/project-card/project-card.component.html
  WebApp/src/app/shared/components/project-card/project-card.component.ts
  WebApp/src/app/shared/components/project-detail-template/project-detail-template.component.html
  WebApp/src/app/shared/components/project-detail-template/project-detail-template.component.ts
  WebApp/src/app/shared/components/wave-separator/wave-separator.component.ts
Labels: WebApp

refactor: replace projects section patterns with reusable components
  WebApp/src/app/projects/personal/home-manager/home-manager.component.html
  WebApp/src/app/projects/personal/home-manager/home-manager.component.ts
  WebApp/src/app/projects/personal/nixpkgs/nixpkgs.component.html
  WebApp/src/app/projects/personal/nixpkgs/nixpkgs.component.ts
  WebApp/src/app/projects/personal/nixvim/nixvim.component.html
  WebApp/src/app/projects/personal/nixvim/nixvim.component.ts
  WebApp/src/app/projects/personal/personal.component.html
  WebApp/src/app/projects/personal/personal.component.ts
  WebApp/src/app/projects/professional/professional.component.html
  WebApp/src/app/projects/professional/professional.component.ts
  WebApp/src/app/projects/projects.component.html
  WebApp/src/app/projects/projects.component.ts
Labels: WebApp

chore: styles import deprecation
  WebApp/src/styles.scss
Labels: WebApp

fix: wave-separator wave path
  WebApp/src/app/shared/components/wave-separator/wave-separator.component.ts
Labels: WebApp

fix: wave-separator visible on home
  WebApp/src/app/home/home.component.html
Labels: WebApp

chore: add bun to nix flake dev dependencies
  flake.nix
Labels: repo

refactor: remove live demo button from personal projects grid
  WebApp/src/app/shared/components/personal-projects-grid/personal-projects-grid.component.html
Labels: WebApp

chore: update Docker configurations for Bun
  WebApp/Dockerfile
  WebApp/Dockerfile.production
Labels: WebApp

chore: migrate from npm to bun package manager
  .husky/pre-commit
  WebApp/bun.lock
  WebApp/package-lock.json
  WebApp/package.json
  flake.nix
Labels: WebApp, repo

refactor: remove hero badge from personal projects section
  WebApp/src/app/projects/personal/personal.component.html
  WebApp/src/app/projects/personal/personal.component.ts
Labels: WebApp
