Repository khaneliman/Austin-Horstman, changes with the labels that .github/labeler.yml gives for each.
All labels: WebApp, WebApi, test, Angular, repo, GitHub-Action

.github/labeler.yml:

WebApp:
- WebApp/**/*

WebApi:
- WebApi/**/*

test:
- WebApp/ClientApp/src/**/*.spec.js

Angular:
- WebApp/ClientApp/**/*

repo:
- '*'

GitHub-Action:
- .github/workflows/*

Set up CI with Azure Pipelines (#26)
  azure-pipelines.yml
Labels: repo

Remove unused files
  src/assets/css/_bootswatch.scss
  src/assets/css/_variables.scss
Labels: none

include releases in docker build
  azure-pipelines.yml
Labels: repo

Remove unused files (#27)
  azure-pipelines.yml
  src/assets/css/_bootswatch.scss
  src/assets/css/_variables.scss
Labels: repo

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: GitHub-Action

Add CodeQL
  .github/workflows/codeql-analysis.yml
Labels: GitHub-Action

Set theme jekyll-theme-cayman
  _config.yml
  index.md
Labels: repo

Create CNAME
  CNAME
Labels: repo
