Repository khaneliman/Austin-Horstman, changes with the labels that .github/labeler.yml gives for each.
All labels: WebApp, WebApi, test, Angular, repo, GitHub-Action

ci: ignore hadolint DL3016 for unpinned bun install
  WebApp/Dockerfile
Labels: WebApp

ci: ignore hadolint DL3016 for unpinned bun install
  WebApp/Dockerfile
Labels: WebApp

build: raise initial bundle budget warning to 650kb
  WebApp/angular.json
Labels: WebApp

build: raise anyComponentStyle budget to 6kb/8kb
  WebApp/angular.json
Labels: WebApp

fix(projects): prevent impact metric overlap
  WebApp/src/app/projects/projects.component.html
Labels: WebApp

fix(project-detail): stack evidence stats on mobile
  WebApp/src/app/shared/components/project-detail-template/project-detail-template.component.scss
Labels: WebApp

fix(project-nav): add project nav scroll affordance
  WebApp/src/app/shared/components/project-nav-header/project-nav-header.component.html
  WebApp/src/app/shared/components/project-nav-header/project-nav-header.component.scss
Labels: WebApp

fix(webapp): poll Angular file watchers
  WebApp/package.json
Labels: WebApp

fix(resume): redirect education index
  WebApp/src/app/personal/resume/education/education.routes.ts
Labels: WebApp

fix(experience): keep hero metadata readable
  WebApp/src/app/shared/components/company-profile/company-profile.component.html
Labels: WebApp

style(webapp): apply catppuccin theme palette
  WebApp/src/app/app.component.html
  WebApp/src/app/core/components/command-palette/command-palette.component.html
  WebApp/src/app/core/components/footer/footer.component.html
  WebApp/src/app/core/components/link-hints/link-hints.component.scss
  WebApp/src/app/core/components/navbar/navbar.component.html
  WebApp/src/app/core/components/shortcuts-help/shortcuts-help.component.html
  WebApp/src/app/core/components/social-links/social-links.component.html
  WebApp/src/app/home/home.component.html
  WebApp/src/app/now/now.component.scss
  WebApp/src/app/now/now.component.ts
  WebApp/src/app/personal/about/about.component.html
  WebApp/src/app/personal/resume/resume.component.html
  WebApp/src/app/personal/resume/resume.component.scss
  WebApp/src/app/personal/resume/resume.component.ts
  WebApp/src/app/personal/resume/resume.logic.test.ts
  WebApp/src/app/projects/personal/shared/personal-case-study-shell.component.ts
  WebApp/src/app/projects/shared/components/breadcrumb/projects-breadcrumb.component.ts
  WebApp/src/app/shared/components/base-card/base-card.component.ts
  WebApp/src/app/shared/components/career-timeline/career-timeline.component.scss
  WebApp/src/app/shared/components/company-profile/company-profile.component.html
  WebApp/src/app/shared/components/enhanced-feature-card/enhanced-feature-card.component.scss
  WebApp/src/app/shared/components/project-detail-template/project-detail-template.component.html
  WebApp/src/app/shared/components/project-detail-template/project-detail-template.component.scss
  WebApp/src/app/shared/components/project-nav-header/project-nav-header.component.scss
  WebApp/src/app/shared/components/theme-toggle/theme-toggle.component.ts
  WebApp/src/app/shared/services/logo-styling.service.test.ts
  WebApp/src/app/shared/services/logo-styling.service.ts
  WebApp/src/assets/scss/utilities/_gradients.scss
  WebApp/src/styles.scss
Labels: WebApp

refactor(webapp): drive theming through data-theme token sets
  WebApp/src/_themes.scss
  WebApp/src/index.html
  WebApp/src/styles.scss
Labels: WebApp

refactor(webapp): tokenize decorative accent square
  WebApp/src/app/home/home.component.html
  WebApp/src/app/personal/about/about.component.html
  WebApp/src/app/personal/resume/resume.component.html
  WebApp/src/app/projects/personal/personal.component.html
  WebApp/src/app/projects/projects.component.html
  WebApp/src/app/shared/components/company-profile/company-profile.component.html
Labels: WebApp

feat(webapp): add selectable color palettes to ThemeService
  WebApp/src/app/shared/services/theme-palette.ts
  WebApp/src/app/shared/services/theme.service.test.ts
  WebApp/src/app/shared/services/theme.service.ts
Labels: WebApp

feat(webapp): add navbar theme picker
  WebApp/src/app/core/components/navbar/navbar.component.html
  WebApp/src/app/core/components/navbar/navbar.component.ts
  WebApp/src/app/shared/components/theme-picker/theme-picker.component.ts
Labels: WebApp

chore: ignore .playwright-cli scratch artifacts
  .gitignore
Labels: repo

feat(webapp): add tokyo-night theme
  WebApp/src/_themes.scss
  WebApp/src/app/shared/services/theme-palette.ts
  WebApp/src/app/shared/services/theme.service.test.ts
  WebApp/src/index.html
Labels: WebApp

feat(webapp): add gruvbox theme
  WebApp/src/_themes.scss
  WebApp/src/app/shared/services/theme-palette.ts
  WebApp/src/app/shared/services/theme.service.test.ts
  WebApp/src/index.html
Labels: WebApp

feat(webapp): add solarized theme
  WebApp/src/_themes.scss
  WebApp/src/app/shared/services/theme-palette.ts
  WebApp/src/app/shared/services/theme.service.test.ts
  WebApp/src/index.html
Labels: WebApp

ci: merge github metrics monthly
  .github/workflows/update-github-metrics.yml
Labels: GitHub-Action

ci: validate metrics PR origin
  .github/workflows/update-github-metrics.yml
Labels: GitHub-Action

ci: validate metrics PR origin
  .github/workflows/update-github-metrics.yml
Labels: GitHub-Action

ci: merge github metrics monthly
  .github/workflows/update-github-metrics.yml
Labels: GitHub-Action

chore: update github contribution metrics
  WebApp/src/app/shared/data/github-metrics.ts
Labels: WebApp

chore: update github contribution metrics
  WebApp/src/app/shared/data/github-metrics.ts
Labels: WebApp

chore: update github contribution metrics
  WebApp/src/app/shared/data/github-metrics.ts
Labels: WebApp

chore: update github contribution metrics
  WebApp/src/app/shared/data/github-metrics.ts
Labels: WebApp

chore: update github contribution metrics
  WebApp/src/app/shared/data/github-metrics.ts
Labels: WebApp

chore: update github contribution metrics
  WebApp/src/app/shared/data/github-metrics.ts
Labels: WebApp

chore: update github contribution metrics
  WebApp/src/app/shared/data/github-metrics.ts
Labels: WebApp

chore: update github contribution metrics
  WebApp/src/app/shared/data/github-metrics.ts
Labels: WebApp

fix(webapp): harden container runtime
  WebApp/.dockerignore
  WebApp/Dockerfile
  WebApp/Dockerfile.production
  WebApp/nginx.conf
  WebApp/package.json
Labels: WebApp

fix(webapi): update vulnerable OpenAPI dependency
  WebApi/WebApi.csproj
  WebApi/packages.lock.json
Labels: WebApi

fix(containers): isolate homelab services
  WebApi/.dockerignore
  WebApi/Dockerfile
  WebApi/global.json
  docker-compose.development.yml
  docker-compose.override.yml
  docker-compose.production.yml
  docker-compose.yml
Labels: WebApi, repo

fix(ci): publish tested container commits
  .github/workflows/docker-webapi.yml
  .github/workflows/docker-webapp.yml
Labels: GitHub-Action

fix(ci): pin workflow dependencies
  .github/workflows/angular-webapp.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependent-issues.yml
  .github/workflows/docker-webapi.yml
  .github/workflows/docker-webapp.yml
  .github/workflows/dotnet-webapi.yml
  .github/workflows/label.yml
  .github/workflows/linter.yml
  .github/workflows/update-github-metrics.yml
Labels: GitHub-Action

fix(deps): cover active package manifests
  .github/deadpendency.yaml
  .github/dependabot.yml
Labels: none

docs(security): add Unraid deployment checklist
  README.md
  docs/homelab-deployment.md
Labels: repo

fix(webapp): update vulnerable dependencies
  WebApp/bun.lock
  WebApp/package.json
Labels: WebApp

fix(ci): scan new commits for secrets
  .github/workflows/secret-scan.yml
Labels: GitHub-Action

.github/labeler.yml:

# WebApp label for changes under WebApp folder
WebApp:
  - changed-files:
    - any-glob-to-any-file: 'WebApp/**/*'  # Matches any file change under WebApp

# WebApi label for changes under WebApi folder
WebApi:
  - changed-files:
    - any-glob-to-any-file: 'WebApi/**/*'  # Matches any file change under WebApi

# Test label for changes in .spec.js files under WebApp/khaneliman/apps/austin-horstman/src
test:
  - changed-files:
    - any-glob-to-any-file: 'WebApp/khaneliman/apps/austin-horstman/src/**/*.spec.js'  # Matches changes in specific .spec.js files

# Angular label for changes under WebApp/khaneliman/apps
Angular:
  - changed-files:
    - any-glob-to-any-file: 'WebApp/khaneliman/apps/**/*'  # Matches any file change under WebApp/khaneliman/apps

repo:
- changed-files:
  - any-glob-to-any-file: '*'

GitHub-Action:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/*'

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
 - head-branch: ['^feature', 'feature']

# Add 'release' label to any PR that is opened against the `main` branch
release:
 - base-branch: 'main'
